
  <div class="titulo-reg"><h2 mat-dialog-title>Añadir Diseño</h2></div>
  <mat-dialog-content class="registro">
    <mat-form-field class="example-full-width">
      <mat-label>Categoria</mat-label>
      <input #input
             type="text"
             class="example-right-align"
             placeholder="Pick one"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto"
             (input)="filter()"
             (focus)="filter()">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)" [displayWith]="displayOption">
        @for (option of filteredOptions; track option) {
          <mat-option [value]="option">{{option.descripcion}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tamaño Aprox. (CMxCM)</mat-label>
      <input id="tamanio" type="number"  [(ngModel)]="tamanio" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Colores:</mat-label>
      <input id="colores" [(ngModel)]="colores" matInput/>
    </mat-form-field>
      <mat-label>Cargar Imagen:</mat-label>
      <input id="imagen" type="file" accept=".jpg, .jpeg, .png" (change)="onFileSelected($event)" >
    <mat-form-field>
        <mat-label>Precio Base:</mat-label>
        <input id="precioBase" type="number"  [(ngModel)]="precioBase" matInput>
    </mat-form-field>
    <mat-form-field>
    <mat-label>Descuento:</mat-label>
        <input id="descuento" type="number"  [(ngModel)]="descuento" matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Precio Final:</mat-label>
        <input id="precioFinal" type="number"  [(ngModel)]="precioFinal" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Estado</mat-label>
      <input type="text"
             placeholder="Seleccione un estado"
             matInput
             [matAutocomplete]="autoEstado"
             (focus)="filter()">
      <mat-autocomplete #autoEstado="matAutocomplete" (optionSelected)="onEstadoSelected($event.option.value)">
        @for(estado of estados; track estado;){
          <mat-option  [value]="estado.label">{{ estado.label }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="boton-reg-cont">
    <button class="boton-reg" mat-button mat-dialog-close>Cancelar</button>
    <button class="boton-reg" mat-button (click)="guardarDisenio()"  cdkFocusInitial>Confirmar</button>
  </mat-dialog-actions>