<mat-grid-list cols="3"  gutterSize="3vw" rowHeight="8:11">
    <mat-grid-tile>
      <app-tattoo-card></app-tattoo-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-tattoo-card></app-tattoo-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-tattoo-card></app-tattoo-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-tattoo-card></app-tattoo-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-tattoo-card></app-tattoo-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-tattoo-card></app-tattoo-card>
    </mat-grid-tile>
  </mat-grid-list>
