<mat-grid-list cols="3"  gutterSize="3vw" rowHeight="8:12">
  @for ( disenio of listOptions; track disenio.id){
    @if ( sacarTurno ) {
      <mat-grid-tile >
        <mat-card class="full-card" appearance="outlined" (click)="onDisenioClick(disenio)">
          <mat-card-header class="header-card">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{disenio.tatuador.nombreCompleto}}</mat-card-title>
            <mat-card-subtitle>Tatuador</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="imagen-disenio" [src]="disenio.imagen" alt="Imagen de diseño" />
          <mat-card-content class="info">
            <p><b>Tamaño: </b> {{disenio.tamanioAproximado}} CM cuadrados</p>
            <p><b>Precio base: </b> ${{disenio.precioBase}}</p>
            <p><b>Descuento: </b> {{disenio.descuento*100}}%</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    }
    @else{
      <mat-grid-tile >
        <mat-card class="full-card" appearance="outlined" (click)="onTurnoClick(disenio)">
          @if(!tatuador){
            <mat-card-header class="header-card">
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{disenio.tatuador.nombreCompleto}}</mat-card-title>
              <mat-card-subtitle>Tatuador</mat-card-subtitle>
            </mat-card-header>
          }
          @else{
            <mat-card-header class="header-card">
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{disenio.cliente.nombreCompleto}}</mat-card-title>
              <mat-card-subtitle>Cliente</mat-card-subtitle>
            </mat-card-header>
          }
          <img mat-card-image class="imagen-disenio" [src]="disenio.imagen" alt="Imagen de diseño" />
          @if (!misTurnos){
            <mat-card-content class="info">
              <p><b>Tamaño: </b> {{disenio.tamanioAproximado}} CM cuadrados</p>
              <p><b>Categoría: </b> {{disenio.categoria.descripcion}}</p>
              <div class="estado">
                @if (disenio.estado === "res"){
                  <p><b class="pendiente">Reservado</b></p>
                }
                @if (disenio.estado === "dis"){
                  <p><b class="confirmado">Disponible</b></p>
                }
                @if (disenio.estado === "tat"){
                  <p><b class="cancelado">Tatuado</b></p>
                }
              </div>
            </mat-card-content>
          }
          @else{
            <mat-card-content class="info">
              <p><b>Fecha: </b> {{disenio.turno.fechaTurno | date: 'dd MMMM yyyy'}} </p>
              <p><b>Horario: </b> {{disenio.turno.horaInicio}} hasta {{disenio.turno.horaFin}}</p>
              <div class="estado">
                @if (disenio.turno.estado === "pen"){
                  <p><b class="pendiente">Pendiente</b></p>
                }
                @if (disenio.turno.estado === "con"){
                  <p><b class="confirmado">confirmado</b></p>
                }
                @if (disenio.turno.estado === "can"){
                  <p><b class="cancelado">cancelado</b></p>
                }
              </div>
            </mat-card-content>
          }
        </mat-card>
      </mat-grid-tile>
    }
  }
</mat-grid-list>
