<mat-toolbar>
  <button routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  </button>
  <span class="example-spacer"></span>
  @if (!isClienteLoggedIn()) {  <!-- Nota el uso de los paréntesis -->
    <app-ingresar-button></app-ingresar-button>
    <app-registro></app-registro>
  }@else{
    @if (isTatuador()){
      <button class="botones-header"  routerLink="/home-tatuador" mat-button>Tu perfil </button>
    }
    @if (isEncargado()){
      <button class="botones-header"  routerLink="/home-encargado" mat-button>Tu perfil </button>
    }
    @if (isCliente()) {
      <button class="botones-header"  routerLink="/home-cliente" mat-button>Tu perfil </button>
    }
    <button class="botones-header" (click)="logout()" routerLink="/" mat-button>Salir</button>
  }
</mat-toolbar>

