.example-spacer {
  flex: 1 1 auto;
}
  
.example-icon {
    cursor: pointer;
    height: 4vw;
    width: 4vw;
  }
.material-icons{
  font-size: 3vw;
}
.mat-icon {
  height: 3vw;
  width: 3vw;
}

.mat-mdc-button {
  font-size: 1.7vw;
}