<header-tattoo></header-tattoo>
<div class="card-container">
  <mat-card class="example-card" appearance="outlined">
    @if (this.datosGraficoComTat.length == 0){
      <mat-card-content class="card-content">
        <mat-card-title>{{mes}}, {{anioActual}}</mat-card-title>
        <div class="no-data">
          <p> - </p>
          <span class="">no hay datos para el mes seleccionado</span>
        </div>
      </mat-card-content>
  
      <mat-card-footer class="example-card-footer">
        <div class="example-button-row">
          <button mat-flat-button disabled >Guardar</button>
        </div>
      </mat-card-footer>
    }
    @else{
      <mat-card-content class="card-content">
        <mat-card-title>{{mes}}, {{anioActual}}</mat-card-title>
        <div>
          <p>Ingresos por comisiones</p>
          <!-- Componente de gráficos que recibe los datos de comisiones -->
          <app-graficos-ingresos #grafico [datosGraficoTat]="datosGraficoComTat"></app-graficos-ingresos>
        </div>
      </mat-card-content>
  
      <mat-card-footer class="example-card-footer">
        <div class="example-button-row">
          <button mat-flat-button (click)="descargarPDF(grafico)">Guardar</button>
        </div>
      </mat-card-footer>
    }
  </mat-card>

</div>
