<header-tattoo></header-tattoo>
@if( tatuador === null ){
    <mat-grid-list class="lista" cols="1" rowHeight="100px" gutterSize="20px">
        @for ( mes of listOptions; track mes ) {
            <mat-grid-tile (click)="onOptionClick(mes)">{{mes}}</mat-grid-tile>
        }
    </mat-grid-list>
}
@else {
    <mat-grid-list class="lista" cols="1" rowHeight="100px" gutterSize="20px">
        @for ( mes of listOptions; track mes ) {
            <mat-grid-tile (click)="openDialogSueldo(tatuador, mes, '300ms', '150ms')">{{mes}}</mat-grid-tile>
        }
    </mat-grid-list>
}
